__Tables (Skills)__  
  
0 - Overall  
1 - Attack  
2 - Defence  
3 - Strength  
4 - Hitpoints  
5 - Ranged  
6 - Prayer  
7 - Magic  
8 - Cooking  
9 - Woodcutting  
10 - Fletching  
11 - Fishing  
12 - Firemaking  
13 - Crafting  
14 - Smithing  
15 - Mining  
16 - Herblore  
17 - Agility  
18 - Thieving  
19 - Slayer  
20 - Farming  
21 - Runecraft  
22 - Hunter  
23 - Construction

In [1]:
import requests
import pandas
import sqlite3 as sql
from bs4 import BeautifulSoup
import pyspark
from pyspark.sql.types import DateType
from datetime import datetime

from pyspark.sql import SparkSession

spark = SparkSession \
    .builder \
    .appName("osrs")\
    .getOrCreate()

#conf = pyspark.SparkConf()
#sc = pyspark.SparkContext(conf.setAppName("osrs"))

#sc = pyspark.SparkContext("osrs")
#sqlContext = pyspark.sql.SQLContext(spark)
#sc = pyspark.SparkContext
#sc.broadcast(url, 'https://secure.runescape.com/m=hiscore_oldschool/index_lite.ws?player=')

In [2]:
df = spark.read.load('data/player_names.parquet').repartition(8)
#rdd = df.rdd

In [24]:
rdd.getNumPartitions()

8

In [8]:
players = df.select('name').limit(5)
players.collect()

[Row(name='IDK Hunter'),
 Row(name='Evil rake'),
 Row(name='Hoibur'),
 Row(name='madnesh'),
 Row(name='AGM-86')]

In [8]:
def get_single_player(players):
    from datetime import datetime
    #print(player['name'])
    # base url for api request
    player_url_base = 'https://secure.runescape.com/m=hiscore_oldschool/index_lite.ws?player='
    
    for player in players:
        name = player['name']
        url = player_url_base + name
    
        now = datetime.utcnow()
        time = '{0}-{1:02d}-{2:02d} {3:02d}:{4:02d}:{5:02d}'.format(now.year, now.month, now.day, now.hour, now.minute, now.second)
        
        try:
            page = requests.get(url).text.replace(u'\n', u' ')
            skills = [i.split(',') for i in page.split()]
            xp = [i[2] for i in skills[0:24]]
            rank = [i[0] for i in skills[0:24]]
        except:
            print(name)
            continue
       
    return (name, time, xp, rank)

In [30]:
def get_single_player_part(players):
    from datetime import datetime
    #print(player['name'])
    # base url for api request
    player_url_base = 'https://secure.runescape.com/m=hiscore_oldschool/index_lite.ws?player='
    
    players_data = []
    
    for player in players:
        name = player['name']
        url = player_url_base + name
    
        now = datetime.utcnow()
        time = '{0}-{1:02d}-{2:02d} {3:02d}:{4:02d}:{5:02d}'.format(now.year, now.month, now.day, now.hour, now.minute, now.second)
        
        try:
            page = requests.get(url).text.replace(u'\n', u' ')
            skills = [i.split(',') for i in page.split()]
            xp = [i[2] for i in skills[0:24]]
            rank = [i[0] for i in skills[0:24]]
            players_data.append(tuple((name, time, xp, rank)))
        except:
            print(name)
            continue
            
    yield players_data

In [48]:
players = df.select('name').repartition(8)
players_hs = players.rdd.mapPartitions(get_single_player_part)
players_hs.is_checkpointed = True
print('Checkpoint enabled: ', players_hs.is_checkpointed,'\nNum partitions: ', players_hs.getNumPartitions())

Checkpoint enabled:  True
Num partitions:  8

In [49]:
print(datetime.utcnow())
players_results = players_hs.collect()
print(datetime.utcnow())

2019-05-23 23:03:50.139876
2019-05-23 23:05:02.642486

In [35]:
len(players_results[0])

3

In [28]:
name = 'Tyler'
xp = 100
skill = 'att'
tuple((name, xp, skill))

('Tyler', 100, 'att')

In [42]:
total = 0
for i in range(len(players_results)):
    total += len(players_results[i])
total

20

In [6]:
rdd.__init__

NameError: name 'rdd' is not defined

In [47]:
rdd = players.rdd
rdd.getNumPartitions()

4

In [48]:
rdd2 = sc.parallelize(rdd, 10)

AttributeError: 'RDD' object has no attribute 'defaultParallelism'

In [49]:
rdd.checkpoint

In [36]:
num = sc.accumulator(1)
def f(x):
    global num
    num+=x
rdd = sc.parallelize([20, 30, 40, 50])
rdd.foreach(f)
final = num.value
print('acc value is: {0}'.format(final))

TypeError: accumulator() missing 1 required positional argument: 'value'

In [83]:
a = [players.collect()][0]
a

[Row(name='IDK Hunter'),
 Row(name='Evil rake'),
 Row(name='Hoibur'),
 Row(name='madnesh'),
 Row(name='AGM-86'),
 Row(name='NoBotsPlease'),
 Row(name='Intu'),
 Row(name='Mr Carl'),
 Row(name='Dark Zatana'),
 Row(name='Jerry PvMs')]

In [ ]:
def get_player(conn, skill):
    # base url for api request
    player_url_base = 'https://secure.runescape.com/m=hiscore_oldschool/index_lite.ws?player='
    
    skills = ["Overall", "Attack", "Defence", "Strength", "Hitpoints", "Ranged", "Prayer", "Magic", "Cooking",
              "Woodcutting", "Fletching", "Fishing", "Firemaking", "Crafting", "Smithing", "Mining", "Herblore",
              "Agility", "Thieving", "Slayer", "Farming", "Runecraft", "Hunter", "Construction"]
    skill_name = skills[skill]
    print(skill_name)
    
    players = conn.execute('''SELECT name from players_name WHERE skill = (?)''', (skill_name,)).fetchall()
    num_players = len(players)
    
    now = datetime.utcnow()
    time = '{0}-{1:02d}-{2:02d} {3:02d}:{4:02d}:{5:02d}'.format(now.year, now.month, now.day, 
                                                                now.hour, now.minute, now.second)
    failed = []
    num = 0
    
    for player in players:
        # sql returns list of tuples, this isolates the name
        name = player[0]
        url = player_url_base + name
        
        num += 1
        if not num%20:
            print('Players scraped: {0}/{1}'.format(i, num_players), datetime.utcnow() - now)
        else:
            pass
        
        try:
            page = requests.get(url).text.replace(u'\n', u' ')
            skills = [i.split(',') for i in page.split()]
            xp = [i[2] for i in skills[0:24]]
            rank = [i[0] for i in skills[0:24]]
        except:
            print(name)
            failed.append(name)
            continue
            
        conn.execute('''INSERT INTO players_xp VALUES(?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?)''', [name, time] + xp)
        conn.execute('''INSERT INTO players_rank VALUES(?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?)''', [name, time] + rank)
            
    return failed

In [3]:
df.schema

StructType(List(StructField(name,StringType,true),StructField(date,DateType,true),StructField(skill,StringType,true),StructField(rank,LongType,true)))

In [35]:
from pyspark.sql.types import DateType
df = df.withColumn('date', df['date'].cast(DateType()))

In [42]:
df.write.mode('overwrite').parquet('data/player_names.parquet')

Py4JJavaError: An error occurred while calling o166.parquet.
: org.apache.spark.SparkException: Job aborted.
	at org.apache.spark.sql.execution.datasources.FileFormatWriter$.write(FileFormatWriter.scala:198)
	at org.apache.spark.sql.execution.datasources.InsertIntoHadoopFsRelationCommand.run(InsertIntoHadoopFsRelationCommand.scala:159)
	at org.apache.spark.sql.execution.command.DataWritingCommandExec.sideEffectResult$lzycompute(commands.scala:104)
	at org.apache.spark.sql.execution.command.DataWritingCommandExec.sideEffectResult(commands.scala:102)
	at org.apache.spark.sql.execution.command.DataWritingCommandExec.doExecute(commands.scala:122)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$execute$1.apply(SparkPlan.scala:131)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$execute$1.apply(SparkPlan.scala:127)
	at org.apache.spark.sql.execution.SparkPlan$$anonfun$executeQuery$1.apply(SparkPlan.scala:155)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:151)
	at org.apache.spark.sql.execution.SparkPlan.executeQuery(SparkPlan.scala:152)
	at org.apache.spark.sql.execution.SparkPlan.execute(SparkPlan.scala:127)
	at org.apache.spark.sql.execution.QueryExecution.toRdd$lzycompute(QueryExecution.scala:80)
	at org.apache.spark.sql.execution.QueryExecution.toRdd(QueryExecution.scala:80)
	at org.apache.spark.sql.DataFrameWriter$$anonfun$runCommand$1.apply(DataFrameWriter.scala:676)
	at org.apache.spark.sql.DataFrameWriter$$anonfun$runCommand$1.apply(DataFrameWriter.scala:676)
	at org.apache.spark.sql.execution.SQLExecution$$anonfun$withNewExecutionId$1.apply(SQLExecution.scala:78)
	at org.apache.spark.sql.execution.SQLExecution$.withSQLConfPropagated(SQLExecution.scala:125)
	at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:73)
	at org.apache.spark.sql.DataFrameWriter.runCommand(DataFrameWriter.scala:676)
	at org.apache.spark.sql.DataFrameWriter.saveToV1Source(DataFrameWriter.scala:285)
	at org.apache.spark.sql.DataFrameWriter.save(DataFrameWriter.scala:271)
	at org.apache.spark.sql.DataFrameWriter.save(DataFrameWriter.scala:229)
	at org.apache.spark.sql.DataFrameWriter.parquet(DataFrameWriter.scala:566)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.lang.reflect.Method.invoke(Method.java:498)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.GatewayConnection.run(GatewayConnection.java:238)
	at java.lang.Thread.run(Thread.java:748)
Caused by: org.apache.spark.SparkException: Job aborted due to stage failure: Task 1 in stage 7.0 failed 1 times, most recent failure: Lost task 1.0 in stage 7.0 (TID 11, localhost, executor driver): java.io.FileNotFoundException: File file:/Users/tylerblair/Documents/projects/bot_detection/data/player_names.parquet/part-00016-35538ec8-3aa5-4c02-9994-b09ed5ae9ea5-c000.snappy.parquet does not exist
It is possible the underlying files have been updated. You can explicitly invalidate the cache in Spark by running 'REFRESH TABLE tableName' command in SQL or by recreating the Dataset/DataFrame involved.
	at org.apache.spark.sql.execution.datasources.FileScanRDD$$anon$1.org$apache$spark$sql$execution$datasources$FileScanRDD$$anon$$readCurrentFile(FileScanRDD.scala:127)
	at org.apache.spark.sql.execution.datasources.FileScanRDD$$anon$1.nextIterator(FileScanRDD.scala:177)
	at org.apache.spark.sql.execution.datasources.FileScanRDD$$anon$1.hasNext(FileScanRDD.scala:101)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage1.scan_nextBatch_0$(Unknown Source)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage1.processNext(Unknown Source)
	at org.apache.spark.sql.execution.BufferedRowIterator.hasNext(BufferedRowIterator.java:43)
	at org.apache.spark.sql.execution.WholeStageCodegenExec$$anonfun$13$$anon$1.hasNext(WholeStageCodegenExec.scala:636)
	at org.apache.spark.sql.execution.datasources.FileFormatWriter$.org$apache$spark$sql$execution$datasources$FileFormatWriter$$executeTask(FileFormatWriter.scala:232)
	at org.apache.spark.sql.execution.datasources.FileFormatWriter$$anonfun$write$1.apply(FileFormatWriter.scala:170)
	at org.apache.spark.sql.execution.datasources.FileFormatWriter$$anonfun$write$1.apply(FileFormatWriter.scala:169)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:90)
	at org.apache.spark.scheduler.Task.run(Task.scala:121)
	at org.apache.spark.executor.Executor$TaskRunner$$anonfun$10.apply(Executor.scala:408)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1360)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:414)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)
	at java.lang.Thread.run(Thread.java:748)

Driver stacktrace:
	at org.apache.spark.scheduler.DAGScheduler.org$apache$spark$scheduler$DAGScheduler$$failJobAndIndependentStages(DAGScheduler.scala:1889)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$abortStage$1.apply(DAGScheduler.scala:1877)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$abortStage$1.apply(DAGScheduler.scala:1876)
	at scala.collection.mutable.ResizableArray$class.foreach(ResizableArray.scala:59)
	at scala.collection.mutable.ArrayBuffer.foreach(ArrayBuffer.scala:48)
	at org.apache.spark.scheduler.DAGScheduler.abortStage(DAGScheduler.scala:1876)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$handleTaskSetFailed$1.apply(DAGScheduler.scala:926)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$handleTaskSetFailed$1.apply(DAGScheduler.scala:926)
	at scala.Option.foreach(Option.scala:257)
	at org.apache.spark.scheduler.DAGScheduler.handleTaskSetFailed(DAGScheduler.scala:926)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.doOnReceive(DAGScheduler.scala:2110)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2059)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2048)
	at org.apache.spark.util.EventLoop$$anon$1.run(EventLoop.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.runJob(DAGScheduler.scala:737)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2061)
	at org.apache.spark.sql.execution.datasources.FileFormatWriter$.write(FileFormatWriter.scala:167)
	... 33 more
Caused by: java.io.FileNotFoundException: File file:/Users/tylerblair/Documents/projects/bot_detection/data/player_names.parquet/part-00016-35538ec8-3aa5-4c02-9994-b09ed5ae9ea5-c000.snappy.parquet does not exist
It is possible the underlying files have been updated. You can explicitly invalidate the cache in Spark by running 'REFRESH TABLE tableName' command in SQL or by recreating the Dataset/DataFrame involved.
	at org.apache.spark.sql.execution.datasources.FileScanRDD$$anon$1.org$apache$spark$sql$execution$datasources$FileScanRDD$$anon$$readCurrentFile(FileScanRDD.scala:127)
	at org.apache.spark.sql.execution.datasources.FileScanRDD$$anon$1.nextIterator(FileScanRDD.scala:177)
	at org.apache.spark.sql.execution.datasources.FileScanRDD$$anon$1.hasNext(FileScanRDD.scala:101)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage1.scan_nextBatch_0$(Unknown Source)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage1.processNext(Unknown Source)
	at org.apache.spark.sql.execution.BufferedRowIterator.hasNext(BufferedRowIterator.java:43)
	at org.apache.spark.sql.execution.WholeStageCodegenExec$$anonfun$13$$anon$1.hasNext(WholeStageCodegenExec.scala:636)
	at org.apache.spark.sql.execution.datasources.FileFormatWriter$.org$apache$spark$sql$execution$datasources$FileFormatWriter$$executeTask(FileFormatWriter.scala:232)
	at org.apache.spark.sql.execution.datasources.FileFormatWriter$$anonfun$write$1.apply(FileFormatWriter.scala:170)
	at org.apache.spark.sql.execution.datasources.FileFormatWriter$$anonfun$write$1.apply(FileFormatWriter.scala:169)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:90)
	at org.apache.spark.scheduler.Task.run(Task.scala:121)
	at org.apache.spark.executor.Executor$TaskRunner$$anonfun$10.apply(Executor.scala:408)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1360)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:414)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)
	... 1 more

In [20]:
spark.sql('use data/osrs.db')

ParseException: "\nmismatched input '/' expecting <EOF>(line 1, pos 8)\n\n== SQL ==\nuse data/osrs.db\n--------^^^\n"

In [21]:
import pyspark as spark
spark.sql("use data/osrs.db")

TypeError: 'module' object is not callable

In [3]:
#subtract 3 from line number to get table number, 0-23
#e.g., table 9 is woodcutting
skills = ["Overall",
          "Attack",
          "Defence",
          "Strength",
          "Hitpoints",
          "Ranged",
          "Prayer"
          "Magic",
          "Cooking",
          "Woodcutting",
          "Fletching",
          "Fishing",
          "Firemaking",
          "Crafting",
          "Smithing",
          "Mining",
          "Herblore",
          "Agility",
          "Thieving",
          "Slayer",
          "Farming",
          "Runecraft",
          "Hunter",
          "Construction"]
skills

['Overall',
 'Attack',
 'Defence',
 'Strength',
 'Hitpoints',
 'Ranged',
 'PrayerMagic',
 'Cooking',
 'Woodcutting',
 'Fletching',
 'Fishing',
 'Firemaking',
 'Crafting',
 'Smithing',
 'Mining',
 'Herblore',
 'Agility',
 'Thieving',
 'Slayer',
 'Farming',
 'Runecraft',
 'Hunter',
 'Construction']

Get player names and insert into osrs.db

In [122]:
def create_players_table(conn):
    
    conn.execute('''CREATE TABLE IF NOT EXISTS players(
                    "name" TEXT PRIMARY KEY,
                    "date" DATETIME NOT NULL,
                    "skill" TEXT,
                    "rank" INTEGER)''')
    conn.commit()

In [195]:
def scrape_names(min_rank, max_rank, skill):
    import requests
    import sqlite3 as sql
    from datetime import datetime
    from bs4 import BeautifulSoup
    import hs_tables
    
    conn = sql.connect('data/osrs.db')
    
    # create players table if it doesn't already exist
    # attributes: name, date, skill
    hs_tables.create_players_table(conn)
    
    # get skill name for inserting attribute in datebase table
    skills = ["Overall", "Attack", "Defence", "Strength", "Hitpoints", "Ranged", "Prayer", "Magic", "Cooking",
              "Woodcutting", "Fletching", "Fishing", "Firemaking", "Crafting", "Smithing", "Mining", "Herblore",
              "Agility", "Thieving", "Slayer", "Farming", "Runecraft", "Hunter", "Construction"]
    skill_name = skills[skill]
    
    # time in utc for later time series analysis
    now = datetime.utcnow()
    time = '{0}-{1:02d}-{2:02d} {3:02d}:{4:02d}:{5:02d}'.format(now.year, now.month, now.day, 
                                                                now.hour, now.minute, now.second)
    
    total_base = 'https://secure.runescape.com/m=hiscore_oldschool/overall.ws?table={0}&page='.format(skill)
    #player_url_base = 'https://secure.runescape.com/m=hiscore_oldschool/index_lite.ws?player='
    
    # range of pages to scrape results
    min_page = min_rank//25
    max_page = max_rank//25
    pages = max_page - min_page
    #url_no_page = ranking_url_base + 'table={22}&page='.format(table_num)
    
    for i in range(min_page, max_page):
        
        url = total_base + str(i)
        soup = BeautifulSoup(requests.get(url).text)
        try:
            table = soup.find("tbody")
        # create catch here
        except:
            return soup
        
        for row in table.findAll("tr"):
            player = row.findAll("td")
            # cols = [rank, name, level, xp]
            cols = [element.text.strip() for element in player]
            #name = cols[1].replace(u'\xa0', u' ')
            
            if cols[1]:
                name = cols[1].replace(u'\xa0', u' ')
                #print(name)
                rank = int(cols[0].replace(u',', u''))
                try:
                    conn.execute('''INSERT OR IGNORE INTO players(name, date, skill, rank) VALUES (?,?,?,?)''',(name, time, skill_name, int(rank)))
                    conn.commit()
                except:
                    print('Failed:', cols)
                    continue
            
            else:
                continue
            
        if not i%20:
            print('Pages scraped: {0}/{1}'.format(i-min_page, pages), datetime.utcnow() - now)
        else:
            continue
            
    return table

In [7]:
try:
    import importlib
    importlib.reload(scrape_hs)
    print('Reimported scrape_hs.py')
except:
    import scrape_hs

# 1400 end, 35000 done
min_rank = 485000 #440000 min originally
max_rank = 561000
skill = 23 # construction = 23

table = scrape_hs.scrape_names(min_rank, max_rank, skill)

Pages scraped: 0/3040 2019-05-23 00:42:32.248702
Pages scraped: 10/3040 2019-05-23 00:42:52.417858
Pages scraped: 90/3040 2019-05-23 00:47:09.248114
Pages scraped: 110/3040 2019-05-23 00:48:39.260316
Pages scraped: 130/3040 2019-05-23 00:50:06.607790
Pages scraped: 150/3040 2019-05-23 00:51:33.753334
Pages scraped: 160/3040 2019-05-23 00:52:19.528423
Pages scraped: 180/3040 2019-05-23 00:53:51.589447
Pages scraped: 250/3040 2019-05-23 00:58:54.393519
Pages scraped: 280/3040 2019-05-23 01:01:07.680285
Pages scraped: 300/3040 2019-05-23 01:02:33.434284
Pages scraped: 310/3040 2019-05-23 01:03:18.902874
Pages scraped: 430/3040 2019-05-23 01:12:08.331737
Pages scraped: 440/3040 2019-05-23 01:12:48.781933
Pages scraped: 450/3040 2019-05-23 01:13:35.068626
Pages scraped: 470/3040 2019-05-23 01:15:06.100727
Pages scraped: 480/3040 2019-05-23 01:15:51.974203
Pages scraped: 500/3040 2019-05-23 01:17:18.609096
Pages scraped: 600/3040 2019-05-23 01:24:39.643897
Pages scraped: 620/3040 2019-05-23 01:26:18.975955
Pages scraped: 680/3040 2019-05-23 01:30:38.570244
Pages scraped: 690/3040 2019-05-23 01:31:19.121981
Pages scraped: 700/3040 2019-05-23 01:32:04.282481
Pages scraped: 710/3040 2019-05-23 01:32:49.854168
Pages scraped: 730/3040 2019-05-23 01:34:18.425911
Pages scraped: 760/3040 2019-05-23 01:36:35.648994
Pages scraped: 770/3040 2019-05-23 01:37:21.219852
Pages scraped: 850/3040 2019-05-23 01:43:09.267112
Pages scraped: 870/3040 2019-05-23 01:44:36.717205
Pages scraped: 880/3040 2019-05-23 01:45:22.592324
Pages scraped: 890/3040 2019-05-23 01:46:03.450991
Pages scraped: 900/3040 2019-05-23 01:46:48.915323
Pages scraped: 980/3040 2019-05-23 01:52:39.646262
Pages scraped: 1000/3040 2019-05-23 01:54:05.052348
Pages scraped: 1010/3040 2019-05-23 01:54:49.903425
Pages scraped: 1090/3040 2019-05-23 02:00:39.101755
Pages scraped: 1110/3040 2019-05-23 02:02:05.323085
Pages scraped: 1120/3040 2019-05-23 02:02:50.788948
Pages scraped: 1200/3040 2019-05-23 02:08:39.779021
Pages scraped: 1220/3040 2019-05-23 02:10:06.312838
Pages scraped: 1240/3040 2019-05-23 02:11:33.762198
Pages scraped: 1250/3040 2019-05-23 02:12:19.746465
Pages scraped: 1350/3040 2019-05-23 02:19:39.358279
Pages scraped: 1370/3040 2019-05-23 02:21:07.339486
Pages scraped: 1380/3040 2019-05-23 02:21:48.491625
Pages scraped: 1390/3040 2019-05-23 02:22:34.982584
Pages scraped: 1400/3040 2019-05-23 02:23:20.961867
Pages scraped: 1430/3040 2019-05-23 02:25:39.207864
Pages scraped: 1450/3040 2019-05-23 02:27:07.786251
Pages scraped: 1480/3040 2019-05-23 02:29:18.860441
Pages scraped: 1590/3040 2019-05-23 02:37:24.560275
Pages scraped: 1620/3040 2019-05-23 02:39:36.865754
Pages scraped: 1640/3040 2019-05-23 02:41:04.523556
Pages scraped: 1650/3040 2019-05-23 02:41:50.502901
Pages scraped: 1670/3040 2019-05-23 02:43:24.407169
Pages scraped: 1700/3040 2019-05-23 02:45:36.507640
Pages scraped: 1710/3040 2019-05-23 02:46:22.277186
Pages scraped: 1810/3040 2019-05-23 02:53:37.803639
Pages scraped: 1820/3040 2019-05-23 02:54:18.555737
Pages scraped: 1830/3040 2019-05-23 02:55:03.923470
Pages scraped: 1840/3040 2019-05-23 02:55:49.288732
Pages scraped: 1920/3040 2019-05-23 03:01:38.688541
Pages scraped: 1930/3040 2019-05-23 03:02:19.447409
Pages scraped: 1940/3040 2019-05-23 03:03:05.633496
Pages scraped: 1950/3040 2019-05-23 03:03:51.300234
Pages scraped: 2040/3040 2019-05-23 03:10:24.633176
Pages scraped: 2070/3040 2019-05-23 03:12:36.119876
Pages scraped: 2080/3040 2019-05-23 03:13:21.586848
Pages scraped: 2180/3040 2019-05-23 03:20:37.515503
Pages scraped: 2200/3040 2019-05-23 03:22:03.842340
Pages scraped: 2220/3040 2019-05-23 03:23:36.720752
Pages scraped: 2230/3040 2019-05-23 03:24:22.085390
Pages scraped: 2310/3040 2019-05-23 03:30:08.824667
Pages scraped: 2330/3040 2019-05-23 03:31:36.387068
Pages scraped: 2340/3040 2019-05-23 03:32:22.460849
Pages scraped: 2350/3040 2019-05-23 03:33:03.526869
Pages scraped: 2360/3040 2019-05-23 03:33:49.499303
Pages scraped: 2460/3040 2019-05-23 03:41:06.457701
Pages scraped: 2470/3040 2019-05-23 03:41:51.719846
Pages scraped: 2560/3040 2019-05-23 03:48:24.538605
Pages scraped: 2570/3040 2019-05-23 03:49:09.596735
Pages scraped: 2590/3040 2019-05-23 03:50:38.050681
Pages scraped: 2610/3040 2019-05-23 03:52:03.672098
Pages scraped: 2620/3040 2019-05-23 03:52:49.226724
Pages scraped: 2700/3040 2019-05-23 03:58:37.186350
Pages scraped: 2710/3040 2019-05-23 03:59:22.138493
Pages scraped: 2880/3040 2019-05-23 04:11:54.639228
Pages scraped: 2890/3040 2019-05-23 04:12:39.185666
Pages scraped: 2910/3040 2019-05-23 04:14:04.694256
Pages scraped: 2920/3040 2019-05-23 04:14:49.956095
Pages scraped: 3000/3040 2019-05-23 04:20:38.843720
Pages scraped: 3010/3040 2019-05-23 04:21:19.500008
Pages scraped: 3020/3040 2019-05-23 04:22:05.271707
Pages scraped: 3030/3040 2019-05-23 04:22:50.944870

In [8]:
conn.commit()
conn.close()

In [25]:
a = conn.execute('''SELECT name from players_name''').fetchall()
len(a)

47365

In [4]:
conn.execute('''CREATE TABLE IF NOT EXISTS players_name(
                    "name" TEXT, 
                    "date" DATETIME NOT NULL, 
                    "skill" TEXT, 
                    "rank" INTEGER)''')
print('1')

1

In [5]:
conn.execute('''PRAGMA table_info("players_name")''').fetchall()

[(0, 'name', 'TEXT', 0, None, 0),
 (1, 'date', 'DATETIME', 1, None, 0),
 (2, 'skill', 'TEXT', 0, None, 0),
 (3, 'rank', 'INTEGER', 0, None, 0)]

In [6]:
url = 'https://secure.runescape.com/m=hiscore_oldschool/overall.ws?table=23&page=2000'
requests.get(url).text[:100]

'\n<!doctype html>\n<!--[if lt IE 7]><html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7" lang="en"><![endi'

In [12]:
import pandas as pd
df = pd.DataFrame({'name': [],
             'date': [],
             'skill': [],
             'rank': []})
df

Empty DataFrame
Columns: [name, date, skill, rank]
Index: []

In [17]:
df = df.append({'name': 'Tyler', 'date': 'now', 'skill': 'abc', 'rank': 100}, ignore_index=True)
df

    name date skill   rank
0  Tyler  now   abc  100.0
1  Tyler  now   abc  100.0

In [182]:
conn.execute('''SELECT * from players''').fetchall()

[('Hellz Zerker', '2019-05-22 19:34:35', 'Construction', 439976),
 ('Grant2k1', '2019-05-22 19:34:35', 'Construction', 439977),
 ('Kyle SR', '2019-05-22 19:34:35', 'Construction', 439978),
 ('Supreme_v1', '2019-05-22 19:34:35', 'Construction', 439979),
 ('M3EK MlLLY', '2019-05-22 19:34:35', 'Construction', 439980),
 ('Von Disney', '2019-05-22 19:34:35', 'Construction', 439981),
 ('ChrisW247', '2019-05-22 19:34:35', 'Construction', 439982),
 ('CleanedTotal', '2019-05-22 19:34:35', 'Construction', 439983),
 ('buga shuga', '2019-05-22 19:34:35', 'Construction', 439984),
 ('OBG Nicola', '2019-05-22 19:34:35', 'Construction', 439985),
 ('M d m a zing', '2019-05-22 19:34:35', 'Construction', 439986),
 ('MrTrunks', '2019-05-22 19:34:35', 'Construction', 439987),
 ('Logless', '2019-05-22 19:34:35', 'Construction', 439988),
 ('thafamilia3', '2019-05-22 19:34:35', 'Construction', 439989),
 ('SSGvegito', '2019-05-22 19:34:35', 'Construction', 439990),
 ('Space Mankey', '2019-05-22 19:34:35', 'Construction', 439991),
 ('PhantomsCore', '2019-05-22 19:34:35', 'Construction', 439992),
 ('young pimpin', '2019-05-22 19:34:35', 'Construction', 439993),
 ('lceef', '2019-05-22 19:34:35', 'Construction', 439994),
 ('sweetslaps', '2019-05-22 19:34:35', 'Construction', 439995),
 ('redromper', '2019-05-22 19:34:35', 'Construction', 439996),
 ('TMGGuthan', '2019-05-22 19:34:35', 'Construction', 439997),
 ('Stab Em All2', '2019-05-22 19:34:35', 'Construction', 439998),
 ('Badger64', '2019-05-22 19:34:35', 'Construction', 439999),
 ('YES vote', '2019-05-22 19:34:35', 'Construction', 440000)]

In [179]:
conn.close()
conn = sql.connect('data/osrs.db')

conn.execute('''DROP TABLE players''')

In [164]:
import time
time.time()

1558553079.964841

In [43]:
def create_hs_tables(conn):
    
    conn.execute('''CREATE TABLE IF NOT EXISTS player_xp (
                    name TEXT PRIMARY KEY,
                    date DATETIME NOT NULL,
                    overall INTEGER,
                    attack INTEGER,
                    defence INTEGER,
                    strength INTEGER,
                    hitpoints INTEGER,
                    ranged INTEGER,
                    prayer INTEGER,
                    magic INTEGER,
                    cooking INTEGER,
                    woodcutting INTEGER,
                    fletching INTEGER,
                    fishing INTEGER,
                    firemaking INTEGER,
                    crafting INTEGER,
                    smithing INTEGER,
                    mining INTEGER,
                    herblore INTEGER,
                    agility INTEGER,
                    thieving INTEGER,
                    slayer INTEGER,
                    farming INTEGER,
                    runecraft INTEGER,
                    hunter INTEGER,
                    construction INTEGER)''')

    conn.execute('''CREATE TABLE IF NOT EXISTS player_rank (
                    name TEXT PRIMARY KEY,
                    date DATETIME NOT NULL,
                    overall INTEGER,
                    attack INTEGER,
                    defence INTEGER,
                    strength INTEGER,
                    hitpoints INTEGER,
                    ranged INTEGER,
                    prayer INTEGER,
                    magic INTEGER,
                    cooking INTEGER,
                    woodcutting INTEGER,
                    fletching INTEGER,
                    fishing INTEGER,
                    firemaking INTEGER,
                    crafting INTEGER,
                    smithing INTEGER,
                    mining INTEGER,
                    herblore INTEGER,
                    agility INTEGER,
                    thieving INTEGER,
                    slayer INTEGER,
                    farming INTEGER,
                    runecraft INTEGER,
                    hunter INTEGER,
                    construction INTEGER)''')

(['MattsMauler',
  'Zen Santa',
  'Dr McGroober',
  'Bird Brained',
  'BoxOfCondums',
  'Brother Boof',
  'Typulsion',
  'Boyo Bob',
  'High Pro',
  'Emperator',
  'Mabaza',
  'Tokkurainen',
  'Akaaay',
  'leathalchick',
  'KinG CarrotI',
  'Truitedulac3',
  'Lightworks',
  'Lukeed113',
  '100 hp',
  'Sushi Phil',
  'HappinessLTD',
  'RevToo',
  'zdog520',
  'Embezzlez',
  'ICESKATE'],
 ['440,000', 'ICESKATE', '51', '112,073'])

In [69]:
import datetime
now = datetime.datetime.utcnow()
now

datetime.datetime(2019, 5, 22, 18, 5, 33, 113844)

In [72]:
now.second

33

In [75]:
time = '{0}-{1:02d}-{2:02d} {3:02d}:{4:02d}:{5:02d}'.format(now.year, now.month, now.day, now.hour, now.minute, now.second)
time

'2019-05-22 18:05:33'

In [64]:
from datetime import date
today = datetime.datetime.utcnow()
today

datetime.datetime(2019, 5, 22, 18, 3, 43, 340375)

In [64]:
# table_num from skills list above, e.g., table 9 = woodcutting
def scrape_rank(table_num, num_players):
    
    conn = sql.connect('osrs_hs.db')
    
    max_pages = num_players//25
    url_no_page = ranking_url_base + 'table={0}&page='.format(table_num)
    
    for i in range(max_pages):
        url = url_no_page + str(i)
        soup = BeautifulSoup(requests.get(url).text)
        try:
            table = soup.find("tbody")
        except:
            return players
        
        for row in table.findAll("tr"):
            player = row.findAll("td")
            cols = [element.text.strip() for element in player]
            players.append(cols[1])
            
    return players

In [4]:
# define base URLs for later queries
# ranking URL ends in: table={0}&page={1} where table number is in order of skills list
ranking_url_base = 'https://secure.runescape.com/m=hiscore_oldschool/overall.ws?' 
player_url_base = 'https://secure.runescape.com/m=hiscore_oldschool/index_lite.ws?player='