In [1]:
import requests
import pandas
import sqlite3 as sql
from bs4 import BeautifulSoup
from datetime import datetime

In [2]:
conn = sql.connect('data/osrs.db')

In [39]:
def get_player(conn, skill):
    # base url for api request
    player_url_base = 'https://secure.runescape.com/m=hiscore_oldschool/index_lite.ws?player='
    
    skills = ["Overall", "Attack", "Defence", "Strength", "Hitpoints", "Ranged", "Prayer", "Magic", "Cooking",
              "Woodcutting", "Fletching", "Fishing", "Firemaking", "Crafting", "Smithing", "Mining", "Herblore",
              "Agility", "Thieving", "Slayer", "Farming", "Runecraft", "Hunter", "Construction"]
    skill_name = skills[skill]
    print(skill_name)
    
    players = conn.execute('''SELECT name from players_name WHERE skill = (?)''', (skill_name,)).fetchall()
    num_players = len(players)
    
    now = datetime.utcnow()
    time = '{0}-{1:02d}-{2:02d} {3:02d}:{4:02d}:{5:02d}'.format(now.year, now.month, now.day, 
                                                                now.hour, now.minute, now.second)
    failed = []
    num = 0
    
    for player in players:
        # sql returns list of tuples, this isolates the name
        name = player[0]
        url = player_url_base + name
        
        num += 1
        if not num%20:
            print('Players scraped: {0}/{1}'.format(i, num_players), datetime.utcnow() - now)
        else:
            pass
        
        try:
            page = requests.get(url).text.replace(u'\n', u' ')
            skills = [i.split(',') for i in page.split()]
            xp = [i[2] for i in skills[0:24]]
            rank = [i[0] for i in skills[0:24]]
        except:
            print(name)
            failed.append(name)
            continue
            
        conn.execute('''INSERT INTO players_xp VALUES(?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?)''', [name, time] + xp)
        conn.execute('''INSERT INTO players_rank VALUES(?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?)''', [name, time] + rank)
            
    return failed

In [ ]:
import importlib

try:
    importlib.reload(scrape_hs)
    print('Reimported scrape_hs')
except:
    import scrape_hs
    print('First import of scrape_hs')

failed = scrape_hs.get_player(conn, 23)

Reimported scrape_hs
Players scraped: 20/70570 0:00:26.730009
Players scraped: 40/70570 0:00:58.681385
Axe_Smash101
MattsMauler
Players scraped: 60/70570 0:01:28.377448
Emperator
Mabaza
100 hp
Sushi Phil

In [45]:
#conn.execute('''DROP TABLE players_xp''')
#conn.execute('''DROP TABLE players_rank''')
#conn.commit()

In [4]:
skills = ["Overall",
          "Attack",
          "Defence",
          "Strength",
          "Hitpoints",
          "Ranged",
          "Prayer"
          "Magic",
          "Cooking",
          "Woodcutting",
          "Fletching",
          "Fishing",
          "Firemaking",
          "Crafting",
          "Smithing",
          "Mining",
          "Herblore",
          "Agility",
          "Thieving",
          "Slayer",
          "Farming",
          "Runecraft",
          "Hunter",
          "Construction"]

In [14]:
page = requests.get('https://secure.runescape.com/m=hiscore_oldschool/index_lite.ws?player=HARDCORE XY').text.replace(u'\n', u' ')

In [23]:
db_len = conn.execute('''SELECT * from players_name WHERE name = "Porszivo"''').fetchall()
db_len

[('Porszivo', '2019-05-22 19:34:35', 'Construction', None)]

In [11]:
now = '2019-05-22 19:34:35'
skill = 'Construction'

In [17]:
ingame_names = 'Porszivo, 11 Chaos 19, Pritt Glue L, AWildGirlToo, Chuck Norse, KUTU654, Leszivo, Bart, ProjetoIAs, 33 Pown 1080, Batin, Pavla, 85undead2443, person7777, ampaseff77, Bought Gear, Darkroc1792, Firemagic707, HA44DUH, 3NNE, Pk God 37, dief6555, acarunis, cfuiza12, blastmar804, JumluAkut, Poisonrun930, 99angelic891, Silverlum5, Petobismol, bo0lang, Butt Dingus, DirtCheese, planks llc, More to Gain, NotKurokaeru, Earthwalk520, lordwe3333, UCLA Dorms, elgatu, Breaklion877, 1 PIayer, slayerxp, MARLINA12, REYMASTERRIO, REAGE86, DIG6LANG, dseklbkspp3, HARDAccot, UyeUye, Blastmars804, ZomFCKBEE, 15devout1308, Firemagic707, HCByTheWay'.split(',')
names = [i.strip() for i in ingame_names]
names

['Porszivo',
 '11 Chaos 19',
 'Pritt Glue L',
 'AWildGirlToo',
 'Chuck Norse',
 'KUTU654',
 'Leszivo',
 'Bart',
 'ProjetoIAs',
 '33 Pown 1080',
 'Batin',
 'Pavla',
 '85undead2443',
 'person7777',
 'ampaseff77',
 'Bought Gear',
 'Darkroc1792',
 'Firemagic707',
 'HA44DUH',
 '3NNE',
 'Pk God 37',
 'dief6555',
 'acarunis',
 'cfuiza12',
 'blastmar804',
 'JumluAkut',
 'Poisonrun930',
 '99angelic891',
 'Silverlum5',
 'Petobismol',
 'bo0lang',
 'Butt Dingus',
 'DirtCheese',
 'planks llc',
 'More to Gain',
 'NotKurokaeru',
 'Earthwalk520',
 'lordwe3333',
 'UCLA Dorms',
 'elgatu',
 'Breaklion877',
 '1 PIayer',
 'slayerxp',
 'MARLINA12',
 'REYMASTERRIO',
 'REAGE86',
 'DIG6LANG',
 'dseklbkspp3',
 'HARDAccot',
 'UyeUye',
 'Blastmars804',
 'ZomFCKBEE',
 '15devout1308',
 'Firemagic707',
 'HCByTheWay']

In [19]:
for name in names:
    conn.execute('''INSERT INTO players_name(name, date, skill) VALUES (?,?,?)''',(name, now, skill))
    print(name)

Porszivo
11 Chaos 19
Pritt Glue L
AWildGirlToo
Chuck Norse
KUTU654
Leszivo
Bart
ProjetoIAs
33 Pown 1080
Batin
Pavla
85undead2443
person7777
ampaseff77
Bought Gear
Darkroc1792
Firemagic707
HA44DUH
3NNE
Pk God 37
dief6555
acarunis
cfuiza12
blastmar804
JumluAkut
Poisonrun930
99angelic891
Silverlum5
Petobismol
bo0lang
Butt Dingus
DirtCheese
planks llc
More to Gain
NotKurokaeru
Earthwalk520
lordwe3333
UCLA Dorms
elgatu
Breaklion877
1 PIayer
slayerxp
MARLINA12
REYMASTERRIO
REAGE86
DIG6LANG
dseklbkspp3
HARDAccot
UyeUye
Blastmars804
ZomFCKBEE
15devout1308
Firemagic707
HCByTheWay

In [20]:
conn.commit()

In [24]:
page = requests.get('https://secure.runescape.com/m=hiscore_oldschool/index_lite.ws?player=Arlind').text.replace(u'\n', u' ')

In [28]:
skills = [i.split(',') for i in page.split()]
skills

[['218', '2277', '1251270141'],
 ['275', '99', '102374790'],
 ['315', '99', '72521029'],
 ['559', '99', '83855243'],
 ['269', '99', '124883911'],
 ['1802', '99', '69995591'],
 ['222', '99', '20592389'],
 ['262', '99', '61720577'],
 ['2717', '99', '34959039'],
 ['1788', '99', '30735727'],
 ['94', '99', '200000000'],
 ['3212', '99', '20179420'],
 ['1265', '99', '33468400'],
 ['377', '99', '29591353'],
 ['295', '99', '50886424'],
 ['107', '99', '67178566'],
 ['338', '99', '22924495'],
 ['694', '99', '21326200'],
 ['2624', '99', '20613544'],
 ['100', '99', '73880957'],
 ['979', '99', '44244120'],
 ['576', '99', '23532243'],
 ['2194', '99', '21769630'],
 ['176', '99', '20036493'],
 ['109219', '13'],
 ['-1', '-1'],
 ['68355', '500'],
 ['3228', '1285'],
 ['-1', '-1'],
 ['6362', '182'],
 ['23029', '180'],
 ['647', '713'],
 ['3295', '120'],
 ['2411', '90']]

In [35]:
xp = [i[1] for i in skills[0:24]]
xp

['2277',
 '99',
 '99',
 '99',
 '99',
 '99',
 '99',
 '99',
 '99',
 '99',
 '99',
 '99',
 '99',
 '99',
 '99',
 '99',
 '99',
 '99',
 '99',
 '99',
 '99',
 '99',
 '99',
 '99']

In [45]:
to_insert = ['dia'] + xp
to_insert

['dia',
 '2277',
 '99',
 '99',
 '99',
 '99',
 '99',
 '99',
 '99',
 '99',
 '99',
 '99',
 '99',
 '99',
 '99',
 '99',
 '99',
 '99',
 '99',
 '99',
 '99',
 '99',
 '99',
 '99',
 '99']

In [37]:
conn = sql.connect('my_db.db')

In [52]:
conn.close()

In [38]:
conn.execute('''CREATE TABLE test(
name TEXT NOT NULL,
                    overall INTEGER,
                    attack INTEGER,
                    defence INTEGER,
                    strength INTEGER,
                    hitpoints INTEGER,
                    ranged INTEGER,
                    prayer INTEGER,
                    magic INTEGER,
                    cooking INTEGER,
                    woodcutting INTEGER,
                    fletching INTEGER,
                    fishing INTEGER,
                    firemaking INTEGER,
                    crafting INTEGER,
                    smithing INTEGER,
                    mining INTEGER,
                    herblore INTEGER,
                    agility INTEGER,
                    thieving INTEGER,
                    slayer INTEGER,
                    farming INTEGER,
                    runecraft INTEGER,
                    hunter INTEGER,
                    construction INTEGER)''')

In [49]:
conn.execute('''INSERT INTO test VALUES(?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?)''', ['me'] + xp)

In [50]:
conn.execute('''SELECT name FROM test''').fetchall()

[('Arlind',), ('dia',), ('me',)]